:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animated-background {
  background: linear-gradient(310deg, #e6cd87, #43725d, #f2dd68);
  background-size: 600% 600%;
  -webkit-animation: animationBackground 13s ease infinite;
  -moz-animation: animationBackground 13s ease infinite;
  animation: animationBackground 13s ease infinite;
}

@-webkit-keyframes animationBackground {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
  }

  100% {
    background-position: 33% 0%;
  }
}

@-moz-keyframes animationBackground {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
  }

  100% {
    background-position: 33% 0%;
  }
}

@keyframes animationBackground {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
  }

  100% {
    background-position: 33% 0%;
  }
}

a {
  font-weight: 500;
  color: #ff6964;
  text-decoration: inherit;
}

a:hover {
  color: #f2b253;
}

#app {
  text-align: center;
}

.q-router-link--active {
  background-color: rgba(230, 205, 135, 0.373);
}

.q-router-link--active .q-icon,
.q-router-link--active .q-item__section {
  color:#f2b253;
}